<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <title>Timetabler - Easily Organize Your School Life</title>
</head>

<body>

    <section class="top-section-index">
      <div class="d-flex justify-content-center head">
        <img class="index-logo-header"
          src="images/logo.png"
          style="margin-bottom: 20pt;width: 100pt;height: 100pt;" alt="Logo">
      </div>
      <div class="d-flex justify-content-center subtext" style="color: white;">
        <h1><b>Easily Organize Your School Life</b></h1>
      </div>
      <div class="d-flex justify-content-center subtext">
        <p>Timetabler provides all the features you need to stay organized, so you can focus on your school work</p>
      </div>
      <div class="justify-content-center subtext btn-index">
        <a href="/register" id="indexbtn1" class="btn btn-primary text-white hover-expand" style="width: 200pt;">Create an Account</a>
        <a href="/login" id="indexbtn2" class="btn btn-primary text-white hover-expand" style="width: 200pt;">Login</a>
      </div>
    </section>
</body>

</html>
